<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>ch.pitaya.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleShortVersionString</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>CLUndocumentedChecker</key>
	<dict>
		<key>Classes</key>
		<dict>
			<key>PBXBuildFile</key>
			<dict>
				<key>-absolutePath</key>
				<string>NSString</string>
				<key>-settingsArrayForKey:</key>
				<string>NSArray</string>
			</dict>
			<key>PBXBuildPhase</key>
			<dict>
				<key>+buildPhase</key>
				<string>PBXBuildPhase</string>
				<key>-addReference:</key>
				<string>BOOL</string>
				<key>-buildFiles</key>
				<string>NSArray.PBXBuildFile</string>
				<key>-containsFileReferenceIdenticalTo:</key>
				<string>BOOL</string>
			</dict>
			<key>PBXContainer</key>
			<dict>
				<key>-fileReferenceForPath:</key>
				<string>PBXFileReference</string>
				<key>-rootGroup</key>
				<string>PBXGroup</string>
			</dict>
			<key>PBXFileReference</key>
			<dict>
			</dict>
			<key>PBXGroup</key>
			<dict>
				<key>+groupWithName:</key>
				<string>PBXGroup</string>
				<key>-addFiles:copy:createGroupsRecursively:</key>
				<string>NSArray.PBXFileReference</string>
				<key>-addItem:</key>
				<string>void</string>
				<key>-children</key>
				<string>NSArray.PBXReference</string>
				<key>-containsItem:</key>
				<string>BOOL</string>
				<key>-insertItem:atIndex:</key>
				<string>void</string>
			</dict>
			<key>PBXProject</key>
			<dict>
				<key>+isProjectWrapperExtension:</key>
				<string>BOOL</string>
				<key>+projectWithFile:</key>
				<string>PBXProject</string>
				<key>-activeTarget</key>
				<string>PBXTarget</string>
				<key>-buildConfigurations</key>
				<string>NSArray.XCBuildConfiguration</string>
				<key>-expandedValueForString:</key>
				<string>NSString</string>
				<key>-name</key>
				<string>NSString</string>
				<key>-targetNamed:</key>
				<string>PBXTarget</string>
				<key>-targets</key>
				<string>NSArray.PBXTarget</string>
				<key>-writeToFileSystemProjectFile:userFile:checkNeedsRevert:</key>
				<string>BOOL</string>
			</dict>
			<key>PBXReference</key>
			<dict>
				<key>-name</key>
				<string>NSString</string>
				<key>-sourceTree</key>
				<string>NSString</string>
			</dict>
			<key>PBXTarget</key>
			<dict>
				<key>-addBuildPhase:</key>
				<string>void</string>
				<key>-buildConfigurations</key>
				<string>NSArray.XCBuildConfiguration</string>
				<key>-buildPhaseOfClass:</key>
				<string>PBXBuildPhase</string>
				<key>-defaultFrameworksBuildPhase</key>
				<string>PBXBuildPhase</string>
				<key>-defaultHeaderBuildPhase</key>
				<string>PBXBuildPhase</string>
				<key>-defaultLinkBuildPhase</key>
				<string>PBXBuildPhase</string>
				<key>-defaultResourceBuildPhase</key>
				<string>PBXBuildPhase</string>
				<key>-defaultSourceCodeBuildPhase</key>
				<string>PBXBuildPhase</string>
				<key>-expandedValueForString:</key>
				<string>NSString</string>
				<key>-name</key>
				<string>NSString</string>
			</dict>
			<key>XCBuildConfiguration</key>
			<dict>
				<key>+fileReference:isValidBaseConfigurationFile:</key>
				<string>BOOL</string>
				<key>-baseConfigurationReference</key>
				<string>PBXFileReference</string>
				<key>-setBaseConfigurationReference:</key>
				<string>void</string>
			</dict>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
</dict>
</plist>
