<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>ch.pitaya.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleShortVersionString</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>CLUndocumentedChecker</key>
	<dict>
		<key>Classes</key>
		<dict>
			<key>PBXBuildFile</key>
			<dict>
				<key>-absolutePath</key>
				<string>NSString</string>
			</dict>
			<key>PBXBuildPhase</key>
			<dict>
				<key>-buildFiles</key>
				<string>NSArray</string>
			</dict>
			<key>PBXProject</key>
			<dict>
				<key>+projectWithFile:</key>
				<string>PBXProject</string>
				<key>-activeTarget</key>
				<string>PBXTarget</string>
				<key>-name</key>
				<string>NSString</string>
				<key>-targetNamed:</key>
				<string>PBXTarget</string>
			</dict>
			<key>PBXTarget</key>
			<dict>
				<key>-defaultFrameworksBuildPhase</key>
				<string>PBXBuildPhase</string>
				<key>-defaultHeaderBuildPhase</key>
				<string>PBXBuildPhase</string>
				<key>-defaultLinkBuildPhase</key>
				<string>PBXBuildPhase</string>
				<key>-defaultResourceBuildPhase</key>
				<string>PBXBuildPhase</string>
				<key>-defaultSourceCodeBuildPhase</key>
				<string>PBXBuildPhase</string>
			</dict>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
</dict>
</plist>
